* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(images/main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.491);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.snowflake {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    top: -20px;
    opacity: 0.8;
    z-index: 2000;
    animation: fall linear infinite;
}

@keyframes fall {
    from {
        transform: translateY(0) translateX(0);
    }

    to {
        transform: translateY(calc(100vh + 20px)) translateX(var(--wind));
    }
}